<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <listener>
        <listener-class>mate.academy.internetshop.controller.InjectInitialiser</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>items</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetAllItemsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>items</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.InjectDataController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>orders</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetAllUserOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orders</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addItemToBucket</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.AddItemToBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItemToBucket</servlet-name>
        <url-pattern>/addItemToBucket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteItemFromBucket</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteItemFromBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteItemFromBucket</servlet-name>
        <url-pattern>/deleteItemFromBucket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getItemsFromBucket</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetAllItemsFromBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getItemsFromBucket</servlet-name>
        <url-pattern>/bucket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>placeOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.PlaceOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>placeOrder</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllUserOrders</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetAllUserOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllUserOrders</servlet-name>
        <url-pattern>/userOrders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetAllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/allUsers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
</web-app>